flask
flask-cors
python-dotenv
requests
pillow
numpy
opencv-python
transformers==4.57.1
accelerate
ollama
sentencepiece
protobuf
safetensors
torch
torchvision
pymongo
einops
google-auth
PyJWT
reportlab